<div id="layout" class="layout">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><b>Task Manager</b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <p>Developed by Sithira Senanayake</p>
  </footer>
</div>
