<div class="container">
  <mat-card class="card p-5">
    <form class="form-style">
      <h1 class="mb-4 text-center">Create Task</h1>

      <mat-form-field appearance="outline" >
        <mat-label>Task Name</mat-label>
        <input matInput [(ngModel)]="taskDetails.title" name="title"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="taskDetails.dueDate" name="dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

      <mat-form-field appearance="outline">
        <mat-label>Task Description</mat-label>
        <textarea matInput [(ngModel)]="taskDetails.description" name="description"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onClickSubmit()">{{buttonCaption}}</button>
      <br/>
      <button mat-stroked-button color="warn" (click)="onClickCancel()">Cancel</button>
    </form>
  </mat-card>
</div>
